/* Styles for index.html */
body.index-page{
font-family: "Indie Flower", serif;
background-color: #ffdbe9;
color: #333;
text-align:center;
}

.index-page h1 {
background-color: #fcc3da;
color: #333;
text-align: center;
font-family: "Indie Flower", serif;
}

.index-page p {
background-color: #fcc3da;
color: #333;
text-align: center;
font-family: "Indie Flower", serif;
}


.index-box{
background-color: #fcc3da;
border: 1px solid #fcc3da;
}

/* Styles for about.html */  
body.about-page{
font-family: "Patrick Hand", serif;
background-color: #f9cee7;
color: #333;
text-align:left;
}

.about-page h1, h2, p{
font-family: "Patrick Hand", serif;
background-color: #ffa4c8;
color: #333;
text-align:left;
}


.about-box{
background-color: #ffa4c8;
border: 1px solid #ffa4c8;
}

/* Grid for index.html */
.grid-container{
display:grid;
grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height:80vh;
    border-radius: 15px;
    gap:10px;
    text-align:center;
    font-size:4em;
}

/* Grid for about.html */
.grid-container{
display:grid;
grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height:80vh;
    border-radius: 15px;
    gap:10px;
    font-size:4em;
}

/* Styles for projects.html */
body.index-page{
font-family: "Indie Flower", serif;
background-color: #ffdbe9;
color: #333;
text-align:center;
}

.projects-page body {
background-color: #fcc3da;
color: #333;
text-align: center;
font-family: "Indie Flower", serif;
}

.projects-page p {
background-color: #fcc3da;
color: #333;
text-align: center;
font-family: "Indie Flower", serif;
}


